
/*Made by Harry Bond @corresbondent 2020*/

@font-face {
  font-family: 'Insaniburger with Cheese';
  src: url('Assets/Fonts/InsaniburgerwithCheese.woff2') format('woff2'),
      url('Assets/Fonts/InsaniburgerwithCheese.woff') format('woff'),
      url('Assets/Fonts/InsaniburgerwithCheese.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

html {
  background-color: #e6003a;
  font-family: 'Raleway';
  color:white;
}

body {
  margin:0;
}
.background {
  width:100%;
  height:100%;
  position: absolute;
  z-index:-10000;
  background-image: linear-gradient(to bottom right, #d20963, #e23308);
}
.navbar {
  display:flex;
  width:100%;
  height:5vh;
  z-index:100;
}

.navback {
  font-family:'Insaniburger with Cheese';
  color:white;
  text-decoration:none;
  font-size:2vh;
  margin-left:2vw;
  margin-top:auto;
  margin-bottom:auto;
}

.container {
  display:flex;
  width:80%;
  height:100vh;
  margin-left:auto;
  margin-right:auto;
  background-color:black;
}

.logo{
  width:30%;
  max-width:30vh;
  margin:auto;
}  margin-left:auto;
  margin-right:auto;
