

/*Made by Harry Bond @corresbondent 2020*/


html
{
  background-color: black;
  font-family: sans-serif;
  display: block;
}

body
{
  margin:0;
}

.logo
{
  max-width: 100%;
  height: auto;
}

.header
{
  background-color: white;
  width: 100%;
  margin:0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.navbar
{
  display:flex;
  justify-content:center;
  align-items:center;
}

.navelement
{
  background-color: black;
}
