

/*Made by Harry Bond @corresbondent 2020*/

@font-face {
    font-family: 'Insaniburger with Cheese';
    src: url('Assets/Fonts/InsaniburgerwithCheese.woff2') format('woff2'),
        url('Assets/Fonts/InsaniburgerwithCheese.woff') format('woff'),
        url('Assets/Fonts/InsaniburgerwithCheese.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  background-color: #000000;
  font-family: 'Raleway';
}
body {
  margin:0;
}

.logo {
  display:inline-flex;
  height:5vh;
  margin-right:2vmin;
  margin-left:.5vmin;
}

.navbar {
  align-items:flex-start;
  align-content:center;
  display:flex;
  width:100vw;
  height:5vh;
  z-index:100;
  background-color:black;
}

.navelement {
  display:inline-flex;
  font-size:2vh;
  margin-left:1vw;
  margin-right:1vw;
  font-family: 'Insaniburger with Cheese';

}
.navmenu {
  margin-top:auto;
  margin-bottom:auto;
}

/* various classes used for global styles */
.white {
  color:white;
}
.noselect {
  user-select: none;
}
.nounderline {
  text-decoration: none;
}

.title
{
  display:inline-flex;
  font-family: 'Insaniburger with Cheese';
  font-size:4vmin;
  margin-top:auto;
  margin-bottom:auto;
  margin-right:1vw;

}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    z-index:-100;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
