

/*Made by Harry Bond @corresbondent 2020*/


html
{
  background-color: #111111;
  display: block;
  font-family: 'Inter', sans-serif;
}

body
{
  margin:0;
}

.white
{
  color:white;
}

.logo
{
  max-width:100%;
  max-height:100%;
  padding-right:20px;
}

.headerlmnt
{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:100%;
  max-height:100%;
  font-size: 4vh;
}

.header
{
  display: flex;
  width: 100vw;
  height: 5vh;
  margin:.5vw;
}
